.header__button {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    transition: opacity 0.3s linear;
}

.header__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px){
    .header__button {
        margin-right: 10px;
    }
}